.btn{
  margin: 5px;
padding:  10px 20px ;
border-radius: 5px;
border: 0;
cursor: pointer;
font-weight: 700;
font-size: medium;
}

.btnPrimary{
  background-color: hsl(217, 91%, 50%);
  color: white;
}
.btnPrimary:hover{
  background-color:hsl(217, 91%, 40%);
}

.btnDanger{
  background-color: hsl(0, 84%, 50%);
  color: white;  
}
.btnDanger:hover{
  background-color: hsl(0, 84%, 40%);
}

.btnSecondary{
  background-color: hsl(115, 84%, 40%);
  color: white;
  
}
.btnSecondary:hover{
  background-color: hsl(115, 84%, 30%);
}
