.btn{
  margin: 5px;
padding:  10px 15px ;
border-radius: 5px;
border: 0;
cursor: pointer;
font-weight: 700;
font-size: medium;
}

.btnPrimary{
  background-color: hsl(217, 91%, 50%);
  color: white;
}
.btnPrimary:hover{
  background-color:hsl(217, 91%, 40%);
}

.btnDanger{
  background-color: hsl(0, 84%, 50%);
  color: white;  
}
.btnDanger:hover{
  background-color: hsl(0, 84%, 40%);
}

.btnSuccess{
  background-color: hsl(115, 84%, 40%);
  color: white;  
}
.btnSuccess:hover{
  background-color: hsl(115, 84%, 30%);
}

.btnSecondary{
  background-color: hsl(210, 5%, 50%);
  color: white;  
}
.btnSecondary:hover{
  background-color: hsl(210, 5%, 40%);
}

.btnWarning{
  background-color: hsl(45, 100%, 45%);
  color: white;  
}
.btnWarning:hover{
  background-color:  hsl(45, 100%, 35%);
}
