$radiusHeight:10px;
$widthStatus:50px;
.content{
  display: flex;
  flex-direction: row;
  margin: 10px;  
 
  border-radius: $radiusHeight; 
  box-shadow: 5px 5px 20px hsla(30, 0%, 10%, 0.5)
}
.todoBox{
  display: flex;
  background-color: hsl(142, 71%, 35%);
  width: $widthStatus;
  border-top-left-radius:$radiusHeight;
  border-bottom-left-radius: $radiusHeight;
 
}
.doneBox{
  display: flex;
  background-color: hsl(0, 84%, 50%);
  width: $widthStatus;  
  border-top-left-radius: $radiusHeight;
  border-bottom-left-radius: $radiusHeight;
}

.body{
  padding: 20px;  
}
.todoText{

}
.doneText{
 color:hsl(220, 10%, 45%) ;
 font-style: italic;
 text-decoration: line-through;
}


