$radiusHeight:10px;
$widthStatus:50px;
.content{
  display: flex;
  flex-direction: row;
  margin: 10px;  
 
  border-radius: $radiusHeight; 
  box-shadow: 5px 5px 20px hsla(30, 0%, 10%, 0.5)
}
.todoBox{
  display: flex;
  background-color: hsl(45, 100%, 45%);
  width: $widthStatus;
  border-top-left-radius:$radiusHeight;
  border-bottom-left-radius: $radiusHeight;
 
}
.doneBox{
  display: flex;
  background-color: hsl(115, 84%, 40%);
  width: $widthStatus;  
  border-top-left-radius: $radiusHeight;
  border-bottom-left-radius: $radiusHeight;
  
}

.body{
  padding: 20px;  
  
}
.todoText{
  word-wrap: break-word;
  max-width: 270px;
}
.doneText{
 color:hsl(220, 10%, 45%) ;
 word-wrap: break-word;
  max-width: 270px;
 font-style: italic;
 text-decoration: line-through;
 word-wrap: break-word;
}


