.container{
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:center ;
  margin: auto;
  margin-top: 5vh;
  max-width: 900px; 
}

.section{
  max-width: 420px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  scrollbar-width: none;
  padding: 15px;
}
.section::-webkit-scrollbar{
  display: none;
}
.leftSection{  
  @media(orientation: portrait) {
    height: 38vh;    
  }

}
.rightSection{  
  height: 90vh;
  @media(orientation: portrait) {
    height: 48vh;    
  }
}

.body{
  display: flex;  
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap; 
  justify-content: space-around;  
}
