.container{
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:center ;
  margin: auto;
  margin-top: 5vh;
  max-width: 900px; 
}

.section{
  max-width: 450px;
  width: 100%;  
}
.body{
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-around;  
}